<a href="https://colab.research.google.com/github/Gabriellemga/Praticando_Python/blob/main/Praticando_Python_estruturas_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1 - Análise de dados de atletas em uma lista

Você é um cientista de dados trabalhando para um comitê olímpico. Você recebeu uma lista com informações de atletas de diversas modalidades, incluindo nome, altura (em metros) e peso (em kg). Esses dados estão organizados de forma um pouco confusa, dificultando a análise. Sua tarefa é usar um loop for em Python para processar essa lista e organizar as informações de cada atleta em um formato mais estruturado, facilitando futuras análises estatísticas e comparações.

A lista de atletas é representada da seguinte maneira:

```
# atletas = [
    ["Maria Silva", 1.75, 65],
    ["João Santos", 1.80, 72],
    ["Ana Pereira", 1.68, 58],
    ["Pedro Oliveira", 1.92, 85],
    ["Carlos Lima", 1.85, 78],
    ["Beatriz Souza", 1.70, 60],
    ["Fernanda Costa", 1.62, 55],
    ["Lucas Almeida", 1.88, 82],
    ["Rafaela Gomes", 1.74, 63],
    ["Gustavo Ferreira", 1.90, 88],
    ["Larissa Rocha", 1.66, 57],
    ["Henrique Nunes", 1.83, 76],
    ["Juliana Martins", 1.72, 59],
    ["Ricardo Carvalho", 1.86, 80],
    ["Sofia Alves", 1.64, 54],
    ["Matheus Ribeiro", 1.89, 84],
    ["Camila Duarte", 1.69, 61],
    ["Gabriel Monteiro", 1.77, 73],
    ["Eduarda Farias", 1.71, 62],
    ["Thiago Mendes", 1.84, 79],
]
```

In [ ]:
atletas = [
    ["Maria Silva", 1.75, 65],
    ["João Santos", 1.80, 72],
    ["Ana Pereira", 1.68, 58],
    ["Pedro Oliveira", 1.92, 85],
    ["Carlos Lima", 1.85, 78],
    ["Beatriz Souza", 1.70, 60],
    ["Fernanda Costa", 1.62, 55],
    ["Lucas Almeida", 1.88, 82],
    ["Rafaela Gomes", 1.74, 63],
    ["Gustavo Ferreira", 1.90, 88],
    ["Larissa Rocha", 1.66, 57],
    ["Henrique Nunes", 1.83, 76],
    ["Juliana Martins", 1.72, 59],
    ["Ricardo Carvalho", 1.86, 80],
    ["Sofia Alves", 1.64, 54],
    ["Matheus Ribeiro", 1.89, 84],
    ["Camila Duarte", 1.69, 61],
    ["Gabriel Monteiro", 1.77, 73],
    ["Eduarda Farias", 1.71, 62],
    ["Thiago Mendes", 1.84, 79],
]

In [ ]:
for i in range(len(atletas)): ## Loop para processar os indices da lista atletas
  print(f'Nome: {atletas[i][0]}') # Primeiro elemento da lista é o nome
  print(f'Altura: {atletas[i][1]} m')  # Segundo elemento da lista é a altura
  print(f'Peso: {atletas[i][2]} kg') # Terceiro elemento da lista é o peso
  print('-'*20) # Linha separadora

Nome: Maria Silva
Altura: 1.75 m
Peso: 65 kg
--------------------
Nome: João Santos
Altura: 1.8 m
Peso: 72 kg
--------------------
Nome: Ana Pereira
Altura: 1.68 m
Peso: 58 kg
--------------------
Nome: Pedro Oliveira
Altura: 1.92 m
Peso: 85 kg
--------------------
Nome: Carlos Lima
Altura: 1.85 m
Peso: 78 kg
--------------------
Nome: Beatriz Souza
Altura: 1.7 m
Peso: 60 kg
--------------------
Nome: Fernanda Costa
Altura: 1.62 m
Peso: 55 kg
--------------------
Nome: Lucas Almeida
Altura: 1.88 m
Peso: 82 kg
--------------------
Nome: Rafaela Gomes
Altura: 1.74 m
Peso: 63 kg
--------------------
Nome: Gustavo Ferreira
Altura: 1.9 m
Peso: 88 kg
--------------------
Nome: Larissa Rocha
Altura: 1.66 m
Peso: 57 kg
--------------------
Nome: Henrique Nunes
Altura: 1.83 m
Peso: 76 kg
--------------------
Nome: Juliana Martins
Altura: 1.72 m
Peso: 59 kg
--------------------
Nome: Ricardo Carvalho
Altura: 1.86 m
Peso: 80 kg
--------------------
Nome: Sofia Alves
Altura: 1.64 m
Peso: 54 kg
--------------------
Nome: Matheus Ribeiro
Altura: 1.89 m
Peso: 84 kg
--------------------
Nome: Camila Duarte
Altura: 1.69 m
Peso: 61 kg
--------------------
Nome: Gabriel Monteiro
Altura: 1.77 m
Peso: 73 kg
--------------------
Nome: Eduarda Farias
Altura: 1.71 m
Peso: 62 kg
--------------------
Nome: Thiago Mendes
Altura: 1.84 m
Peso: 79 kg
--------------------

# Desafio 2 - Criando uma lista de tuplas

Continuando o seu trabalho como cientista de dados do comitê olímpico, agora você deve reorganizar a lista de atletas, em uma lista de tuplas, onde cada tupla representa um atleta e contém as informações de nome, altura e peso, respectivamente. Essa estrutura permitirá o acesso aos dados de cada atleta de forma mais eficiente, e que esses dados não possam mais ser modificados. Essa organização é crucial para etapas posteriores da análise, como o cálculo do IMC (Índice de Massa Corporal) de cada atleta e a identificação de padrões nos dados.

In [ ]:
atletas_tupla = [(atletas[i][0], atletas[i][1], atletas[i][2]) for i in range(len(atletas)) ]
print(atletas_tupla)

[('Maria Silva', 1.75, 65), ('João Santos', 1.8, 72), ('Ana Pereira', 1.68, 58), ('Pedro Oliveira', 1.92, 85), ('Carlos Lima', 1.85, 78), ('Beatriz Souza', 1.7, 60), ('Fernanda Costa', 1.62, 55), ('Lucas Almeida', 1.88, 82), ('Rafaela Gomes', 1.74, 63), ('Gustavo Ferreira', 1.9, 88), ('Larissa Rocha', 1.66, 57), ('Henrique Nunes', 1.83, 76), ('Juliana Martins', 1.72, 59), ('Ricardo Carvalho', 1.86, 80), ('Sofia Alves', 1.64, 54), ('Matheus Ribeiro', 1.89, 84), ('Camila Duarte', 1.69, 61), ('Gabriel Monteiro', 1.77, 73), ('Eduarda Farias', 1.71, 62), ('Thiago Mendes', 1.84, 79)]

# Desafio 3 - Usando o list comprehension

Para uma análise preliminar, precisamos calcular a altura média desses atletas de forma eficiente utilizando o recurso de list comprehension do Python. Esses dados são cruciais para entender as características físicas gerais do grupo de atletas e podem ser usados posteriormente para comparações com outros grupos ou para identificar padrões interessantes.

In [ ]:
altura = [atleta[1] for atleta in atletas_tupla]
altura_media = sum(altura)/len(altura)
print(f'A altura média dos atletas: {altura_media:.2f} m')

A altura média dos atletas: 1.77 m

# Desafio 4 - Calculando o IMC

Agora, queremos identificar quais atletas possuem IMC (Índice de Massa Corporal) acima de 25, que é considerado como sobrepeso. O cálculo do IMC pode ser feito com a fórmula:

![image.png]()

#### Utilizando list comprehension, crie uma lista contendo o nome dos atletas que possuem IMC maior que 25 e imprima essa lista.

In [ ]:
atletas = [
    ("Maria Silva", 1.75, 65),
    ("João Santos", 1.80, 72),
    ("Ana Pereira", 1.68, 58),
    ("Pedro Oliveira", 1.92, 85),
    ("Carlos Lima", 1.85, 78),
    ("Beatriz Souza", 1.70, 60),
    ("Fernanda Costa", 1.62, 55),
    ("Lucas Almeida", 1.88, 82),
    ("Rafaela Gomes", 1.74, 63),
    ("Gustavo Ferreira", 1.90, 88),
    ("Larissa Rocha", 1.66, 57),
    ("Henrique Nunes", 1.83, 76),
    ("Juliana Martins", 1.72, 90),
    ("Ricardo Carvalho", 1.86, 80),
    ("Sofia Alves", 1.64, 54),
    ("Matheus Ribeiro", 1.89, 84),
    ("Camila Duarte", 1.69, 81),
    ("Gabriel Monteiro", 1.77, 73),
    ("Eduarda Farias", 1.71, 62),
    ("Thiago Mendes", 1.84, 79),
]

In [ ]:
imc_maior_25 = [atl[0] for atl in atletas if (atl[2]/(atl[1]**2)) > 25]
print(f'Atletas com sobrepeso: {imc_maior_25}')

Atletas com sobrepeso: ['Juliana Martins', 'Camila Duarte']

# Desafio 5 - Classificando o IMC

Queremos classificar os atletas com base em seu IMC (Índice de Massa Corporal) como "Peso Normal" ou "Sobrepeso". Porém, dessa vez queremos uma lista mais elaborada. Utilizando list comprehension, crie uma nova lista contendo tuplas no formato:


```
# (nome_do_atleta, "Peso Normal" ou "Sobrepeso")
```
Se o IMC do atleta for maior que 25, ele será classificado como "Sobrepeso". Caso contrário, será classificado como "Peso Normal".

In [ ]:
imc = [(atl[0] , 'Sobrepeso' )  if (atl[2]/(atl[1]**2)) > 25  else (atl[0], ' Peso normal') for atl in atletas]
print(f'Atletas com sobrepeso: {imc}')

Atletas com sobrepeso: [('Maria Silva', 'Normal'), ('João Santos', 'Normal'), ('Ana Pereira', 'Normal'), ('Pedro Oliveira', 'Normal'), ('Carlos Lima', 'Normal'), ('Beatriz Souza', 'Normal'), ('Fernanda Costa', 'Normal'), ('Lucas Almeida', 'Normal'), ('Rafaela Gomes', 'Normal'), ('Gustavo Ferreira', 'Normal'), ('Larissa Rocha', 'Normal'), ('Henrique Nunes', 'Normal'), ('Juliana Martins', 'Sobrepeso'), ('Ricardo Carvalho', 'Normal'), ('Sofia Alves', 'Normal'), ('Matheus Ribeiro', 'Normal'), ('Camila Duarte', 'Sobrepeso'), ('Gabriel Monteiro', 'Normal'), ('Eduarda Farias', 'Normal'), ('Thiago Mendes', 'Normal')]

# Desafio 6 - Classificando livros

Você é responsável pelo setor de tecnologia de uma biblioteca pública e está trabalhando em um sistema de categorização de livros com base no ano de publicação.

*  Agora, você precisa classificar os livros em duas categorias:

*  "Clássico": Livros publicados antes do ano 2000.

*  "Moderno": Livros publicados no ano 2000 ou depois.

In [ ]:
livros = [
    ("Dom Quixote", 1605),
    ("Orgulho e Preconceito", 1813),
    ("O Grande Gatsby", 1925),
    ("Cem Anos de Solidão", 1967),
    ("1984", 1949),
    ("Harry Potter e a Pedra Filosofal", 1997),
    ("O Senhor dos Anéis", 1954),
    ("A Revolução dos Bichos", 1945),
    ("O Apanhador no Campo de Centeio", 1951),
    ("O Código Da Vinci", 2003),
    ("Jogos Vorazes", 2008),
    ("A Culpa é das Estrelas", 2012),
    ("Duna", 1965),
    ("A Menina que Roubava Livros", 2005),
    ("O Hobbit", 1937),
    ("Moby Dick", 1851),
    ("Drácula", 1897),
    ("Frankenstein", 1818),
    ("A Odisséia", -800),  # Ano fictício para livros clássicos antigos
    ("Hamlet", 1600),
]

In [ ]:
classificacao_livros = [ (livro[0],'Livro clássico') if livro[1] <= 2000 else (livro[0],'Livro moderno')for livro in livros ]
print(classificacao_livros)

[('Dom Quixote', 'Livro clássico'), ('Orgulho e Preconceito', 'Livro clássico'), ('O Grande Gatsby', 'Livro clássico'), ('Cem Anos de Solidão', 'Livro clássico'), ('1984', 'Livro clássico'), ('Harry Potter e a Pedra Filosofal', 'Livro clássico'), ('O Senhor dos Anéis', 'Livro clássico'), ('A Revolução dos Bichos', 'Livro clássico'), ('O Apanhador no Campo de Centeio', 'Livro clássico'), ('O Código Da Vinci', 'Livro moderno'), ('Jogos Vorazes', 'Livro moderno'), ('A Culpa é das Estrelas', 'Livro moderno'), ('Duna', 'Livro clássico'), ('A Menina que Roubava Livros', 'Livro moderno'), ('O Hobbit', 'Livro clássico'), ('Moby Dick', 'Livro clássico'), ('Drácula', 'Livro clássico'), ('Frankenstein', 'Livro clássico'), ('A Odisséia', 'Livro clássico'), ('Hamlet', 'Livro clássico')]

# Desafio 7- Organizando livros em um dicionário

Seu objetivo é criar um dicionário onde cada livro será representado por uma chave (o título do livro) e o valor será outro dicionário contendo as informações do autor e do ano de publicação. O dicionário final deve ter o seguinte formato:

In [ ]:
livros = [
    ("Dom Quixote", "Miguel de Cervantes", 1605),
    ("Orgulho e Preconceito", "Jane Austen", 1813),
    ("O Grande Gatsby", "F. Scott Fitzgerald", 1925),
    ("Cem Anos de Solidão", "Gabriel García Márquez", 1967),
    ("1984", "George Orwell", 1949),
    ("Harry Potter e a Pedra Filosofal", "J.K. Rowling", 1997),
    ("O Senhor dos Anéis", "J.R.R. Tolkien", 1954),
    ("A Revolução dos Bichos", "George Orwell", 1945),
    ("O Apanhador no Campo de Centeio", "J.D. Salinger", 1951),
    ("O Código Da Vinci", "Dan Brown", 2003),
]

In [ ]:
catalogo = {livro[0]:{'autor':livro[1],'ano':livro[2]} for livro in livros }
print(catalogo)

{'Dom Quixote': {'autor': 'Miguel de Cervantes', 'ano': 1605}, 'Orgulho e Preconceito': {'autor': 'Jane Austen', 'ano': 1813}, 'O Grande Gatsby': {'autor': 'F. Scott Fitzgerald', 'ano': 1925}, 'Cem Anos de Solidão': {'autor': 'Gabriel García Márquez', 'ano': 1967}, '1984': {'autor': 'George Orwell', 'ano': 1949}, 'Harry Potter e a Pedra Filosofal': {'autor': 'J.K. Rowling', 'ano': 1997}, 'O Senhor dos Anéis': {'autor': 'J.R.R. Tolkien', 'ano': 1954}, 'A Revolução dos Bichos': {'autor': 'George Orwell', 'ano': 1945}, 'O Apanhador no Campo de Centeio': {'autor': 'J.D. Salinger', 'ano': 1951}, 'O Código Da Vinci': {'autor': 'Dan Brown', 'ano': 2003}}

# Desafio 8-Coletando livros antigos

Crie um novo dicionário chamado livros_antigos contendo apenas os livros publicados antes do ano 1950. Utilize dict comprehension para realizar esta tarefa.

In [ ]:
livros_antigos = { livro: dado for livro, dado in catalogo.items()  if dado['ano'] < 1950}
print('Livros publicados antes de 1950')
print(livros_antigos)

{'Dom Quixote': {'autor': 'Miguel de Cervantes', 'ano': 1605}, 'Orgulho e Preconceito': {'autor': 'Jane Austen', 'ano': 1813}, 'O Grande Gatsby': {'autor': 'F. Scott Fitzgerald', 'ano': 1925}, '1984': {'autor': 'George Orwell', 'ano': 1949}, 'A Revolução dos Bichos': {'autor': 'George Orwell', 'ano': 1945}}

# Desafio 9 - Atualizando os anos dos livros

Você recebeu uma solicitação para atualizar o dicionário catalogo, pois agora todos os anos de publicação dos livros devem ser convertidos para o número de anos que se passaram desde o lançamento até o ano atual (2025).

In [ ]:
livros_atualizados = {livro:{'autor':dado['autor'],'ano':2025-dado['ano']} for livro, dado in catalogo.items() }
print('Livros com o ano atualizado')
print(livros_atualizados)

{'Dom Quixote': {'autor': 'Miguel de Cervantes', 'ano': 420}, 'Orgulho e Preconceito': {'autor': 'Jane Austen', 'ano': 212}, 'O Grande Gatsby': {'autor': 'F. Scott Fitzgerald', 'ano': 100}, 'Cem Anos de Solidão': {'autor': 'Gabriel García Márquez', 'ano': 58}, '1984': {'autor': 'George Orwell', 'ano': 76}, 'Harry Potter e a Pedra Filosofal': {'autor': 'J.K. Rowling', 'ano': 28}, 'O Senhor dos Anéis': {'autor': 'J.R.R. Tolkien', 'ano': 71}, 'A Revolução dos Bichos': {'autor': 'George Orwell', 'ano': 80}, 'O Apanhador no Campo de Centeio': {'autor': 'J.D. Salinger', 'ano': 74}, 'O Código Da Vinci': {'autor': 'Dan Brown', 'ano': 22}}

# Desafio 10 - Classificando usuários com base na idade

Você trabalha como cientista de dados em uma empresa que armazena informações sobre seus usuários. Foi solicitado que você crie uma classificação simples dos usuários com base na idade. A classificação deve ser feita em duas categorias:

* "adulto": Para usuários com 18 anos ou mais.

* "menor": Para usuários com menos de 18 anos.

Os dados dos usuários estão armazenados em um dicionário chamado usuarios, no seguinte formato:

In [ ]:
usuarios = {
    "João": 25,
    "Maria": 17,
    "Ana": 19,
    "Carlos": 16,
    "Beatriz": 22,
    "Pedro": 15,
    "Luiza": 18
}

In [ ]:
classificacao_idade = {nome : 'adulto' if idade >= 18 else 'menor' for nome, idade in usuarios.items() }
print('Classificação das idades')
print(classificacao_idade)

Classificação das idades
{'João': 'adulto', 'Maria': 'menor', 'Ana': 'adulto', 'Carlos': 'menor', 'Beatriz': 'adulto', 'Pedro': 'menor', 'Luiza': 'adulto'}